/*
* {
    border: 1px solid red;
}
*/

body {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#root {
    /*height:width ratio 6:4*/
    border: 10px solid #222831;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    box-shadow: 3px 3px 5px #393E46;
}

.calc-row{
    display: flex;
    flex-grow: 1;
}

button {
    width: 25%;
    height: 100%;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #393E46;
    color:#EEEEEE;
}
button:hover {
    background-color: #396666;
}

#row-0{ /*calculator display*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5rem;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-bottom: 3px;
    padding: 5px;
}

#row-1{
}

#row-2{
}

#row-3{
}

#row-sub {
    display: flex;
    flex-grow: 2;
}

#row-sub-1{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
}

#row-sub-2 {
    display: flex;
    flex-basis: 25%;
}

#row-4{
    flex-basis: 100%;
    display: flex;
}

#row-5{
    flex-basis: 100%;
    display: flex;
}

#row-6{
    flex-basis: 100%;
    display: flex;
}

#btn-clr{
    background-color: rgb(255, 97, 97);
}
#btn-clr:hover{
    background-color: rgb(255, 33, 33);
}
#btn-\/{}
#btn-\*{}
#btn-1{
    flex-grow: 1;
}
#btn-2{
    flex-grow: 1;
}
#btn-3{
    flex-grow: 1;
}
#btn-0{
    flex-grow: 5;
}
#btn-\.{
    flex-grow: 1;
}
#btn-\={
    flex-grow: 1;
    background-color: #00b551;
    color: #222831;
}
#btn-\=:hover {
    background-color: #19d300;
}
